.body {
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  background: linear-gradient(#6f62a5, #4f4d6e);
}
.ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.li {
  list-style-type: none;
  margin: 10px;
}
.btn {
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  font-weight: 600;
  background: white;
  color: black;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
}
.btn:active {
  background: #4f4d6e;
}
.btn:hover {
  background: #4f4d6e;
}
